*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
html{
    font-size: 10px;
}
body{
    width: 100%;
}
#message-container{
    width: 100vw;
    height: 2rem;
    background-color: black;
}
#notification-container{
    width: 100vw;
    height: 1.2rem;
    background-color: grey;
}
#navbar{
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;    
    gap: 2rem;
    align-items: center;
    padding: 1rem 8%;
    width: 100vw;
    height: auto;
    /* background-color: hotpink; */
}
#navlogo img{
    max-width: 20rem; 
}
#navmenu{
    display: flex;
    list-style: none;
}
.navitems{
    padding: 0.8rem 2rem;
}
.navitems a{
    
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: black;    
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    transition:all 0.4s linear 0s;
}
.navitems a:hover{
    color: rgb(255, 166, 0);
    background: black;

}
#navbar-order{
    text-decoration: none;
}
#order-icon{
    
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem 5rem;
    font-size: 2.2rem;
    background-color: rgb(131, 131, 131);
    color: white;
    box-shadow: 0px 0px 10px rgb(255, 166, 0);
    border-radius: 21rem;
    color: black;
    background: rgb(255, 166, 0);
    box-shadow: 0px 0px 5px black;
    transition: all 0.4s linear 0s;
}
#order-icon:hover{
    transform: scale(1.1);
    background-color: rgb(7, 179, 1);
    color: white;
    box-shadow: 0px 0px 5px rgb(255, 166, 0);
}

main{
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) ,url(/images/restraunt\ image\ bg.jpg) no-repeat center/cover;
    min-width: 100vw;
    min-height: 75vh;  
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
}
main h1{
    text-shadow: 0px 0px 20px black,0px 0px 50px black,0px 0px 100px black,0px 0px 200px black;
}
main a{    
    text-decoration: none;
}
main a p{
    font-size: 2rem;
    color: white;
}
.locate-container img{
    max-width: 3rem;
    
}
.locate-container{
    text-align: center;
    margin-top: 3rem;   
    background: linear-gradient(30deg,rgb(255,166,0), rgba(0,0,0,0.5));
    border-radius: 50%;
    padding: 3rem 3rem;    
    transition:all 0.4s linear 0s;
}
.locate-container:hover{
    transform: scale(1.2);
    background: linear-gradient(30deg,rgb(7, 179, 1), rgba(0,0,0,0.5));
    color: black;    
    text-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px black;

}
.gall{
    text-align: center;
    font-size: 7rem;
    margin: 4rem 0rem;
    
}
.gallery{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}
.gallery img{
    max-width: 40vw;
    height: auto;
}
